<form action="/create_like_from_user" method="post">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @like.restaurant_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= @user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
