<!-- Form like start -->
<form action="/create_like_from_user" method="post">
<!-- Form like end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @like.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <!-- Input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
