<h1>
  Add a new meal
</h1>


<hr>

<!-- Form meal start -->
<form action="/create_meal" method="post">
<!-- Form meal end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @meal.restaurant_id), :class => "form-control") %>
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <!-- Label and input for image_url start -->
  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <!-- Input for image_url start -->
    <input type="text" id="image_url" name="image_url" class="form-control">
    <!-- Input for image_url end -->
  </div>
  <!-- Label and input for image_url end -->

  <button class="btn btn-block btn-outline-secondary">
    Create meal
  </button>
</form>

<hr>

<a href="/meals">
  Go back
</a>
