<!-- Validation failure messages -->
<% if @meal.present? %>
  <% if @meal.errors.any? %>
    <% @meal.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new meal
</h1>


<hr>

<!-- Form meal start -->
<form action="/create_meal" method="post">
<!-- Form meal end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @meal.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @meal.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <!-- Label and input for image_url start -->
  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <!-- Input for image_url start -->
    <input type="text" id="image_url" name="image_url" class="form-control" value="<%= @meal.image_url %>">
    <!-- Input for image_url end -->
  </div>
  <!-- Label and input for image_url end -->

  <button class="btn btn-block btn-outline-secondary">
    Create meal
  </button>
</form>

<hr>

<a href="/meals">
  Go back
</a>
